[Service]
Type=oneshot
RemainAfterExit=true
StandardOutput=journal
WorkingDirectory=/usr/local/share/nfl-clock/raspberry-pi
ExecStart=/usr/local/share/nfl-clock/raspberry-pi/start.sh

[Install]
WantedBy=graphical.target
